.app{
  box-sizing: border-box;
  text-align: center;
  /* background-image: url("plant.jpg"); */
  background-position: center;
  /* background-image: url("./plant.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: block;
  background-position: fixed;
  overflow: auto;
}

.question-form{
 font-size: large;
}

.slider{
  -webkit-appearance: none;
  width: 50%;
  height: 7px;
  outline: none;
  border-radius: 3px;
  color: black;
}

.slider::-webkit-slider-thumb{
  /* -webkit-appearance: none; */
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  opacity: 100%;
  background-color: black;
}

.slider{

  background-color: rgb(135, 202, 163);
}


#selector{
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}

.btn{
 color: white;
 /* text-shadow: 1px 1px 3px rgb(105, 105, 105); */
 padding-left: 10px;
 padding-right: 10px;
 margin-left: 10px;
 margin-right: 10px;
}

.buttons{
  /* color: white; */
  /* text-shadow: 1px 1px 3px rgb(105, 105, 105); */
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
 }

/* Visual Day Score */

.one {
  background-color: rgb(75, 75, 75);
  text-shadow: 1px 1px 3px rgb(105, 105, 105);

}

.two {
  background-color:  rgb(90, 110, 129);
  text-shadow: 1px 1px 3px rgb(105, 105, 105);

}

.three {
  background-color:  rgb(55, 94, 133);
  text-shadow: 1px 1px 3px rgb(105, 105, 105);

}

.four {
  background-color:  rgb(31, 87, 143);
  text-shadow: 1px 1px 3px rgb(105, 105, 105);

}

.five {
  background-color:  rgb(19, 107, 196);
  text-shadow: 1px 1px 3px rgb(105, 105, 105);

}

.six {
  background-color:  rgb(0, 128, 255);
  text-shadow: 1px 1px 3px rgb(105, 105, 105);
}

/* Calendar Grid */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  box-shadow: 1px 1px 5px grey;
}

.header,
.footer {
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

/* .sliderValue{
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  padding: none;
  margin: none;

} */


/* .sliderValue1{
  background-color: red;
  padding: none;
  margin: auto;
  width: 150px;
  display:grid ;
  grid-auto-flow: column;
  background: rgba(0, 151, 19, 0.4);
}

.sliderValue2{
  background-color: orange;
  padding: none;
  margin: auto;
  width: 150px;
  display:grid ;
  grid-auto-flow: column;
  background: rgba(0, 151, 19, 0.4);
}

.sliderValue3{
  background-color:#c5db1a;
  padding: none;
  margin: auto;
  width: 150px;
  display:grid ;
  grid-auto-flow: column;
  background: rgba(0, 151, 19, 0.4);
  border-radius: 5px;
}

.sliderValue4{
  background-color:aqua;
  padding: none;
  margin: auto;
  width: 150px;
  display:grid ;
  grid-auto-flow: column;
  background: rgba(0, 151, 19, 0.4);
}
.sliderValue5{
  background-color: green;
  padding: none;
  margin: auto;
  width: 150px;
  display:grid ;
  grid-auto-flow: column;
  background: rgba(0, 151, 19, 0.4);
}

.sliderValue6{
  background-color: blue;
  padding: none;
  margin: auto;
  width: 150px;
  display:grid ;
  grid-auto-flow: column;
  background: rgba(0, 151, 19, 0.4);
} */


.text{
  opacity: 100%;
  text-decoration: solid;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  text-align: center;
  background: #1abc9c;
  padding: 25px;
  background-color: #fff;
}

.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  width: 100%;

}

.MainNav{
  padding: 20px;
}

.menu{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.greeting{
  padding: 40px 0 40px;
  text-decoration: underline;
  font-weight: 100;
}


.navbar-center{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 110px;
  margin-right: 10px;
}

.bottom-text{
  padding-bottom: 10px;
}

.mainNav33{
  margin-right: 10px;
  margin-left: 10px;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
