.app{
  box-sizing: border-box;
  text-align: center;
  background-image: url("photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: block;
  padding-top: 100px;
  /* opacity: 80%; */

  
}

.question-form{
 font-size: large;
}

.btn{

}

.slider{
  -webkit-appearance: none;
  width: 50%;
  height: 7px;
  outline: none;
  border-radius: 3px;
  opacity: 60%;

}

.slider::-webkit-slider-thumb{
  /* -webkit-appearance: none; */
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  opacity: 60%;
}

#selector{
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}

.btn{
  height: 58px;
  width: 48px;
  background-color: black;
}

.red {
  color: red;
}

.green {
  color: green;
}