.app{
  box-sizing: border-box;
  text-align: center;
  background-image: url("photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: block;
  
}

.question-form{
 font-size: large;
 padding: 20px;

}

.btn{
  
}



/* 
body {
  background-image: url("photo.jpg");
  background-position: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 } */
